body{
    background-color: #9f6060;
}

.jumbotron{
    background-color: black; 
    color:#9f6060
}
#train-image{
    width: 600px;
    height: 300px;
    margin-left: 200px;
}
.card-header{
    background-color: black; 
    color:#9f6060
}

